<html>

<head>
    <title> Very Secure App </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Welcome to the most secure app ever made (or maybe not)</h2>
    <div><a href="/sensitive-data">1. Sensitive Data Exposure</a></div>
    <div><a href="/deserialization">2. Insecure Deserialization (NOT IMPLEMENTED) </a></div>
    <div><a href="/access-control?user=<%= user.name %>">3. Broken Access Control</a></div>
    <% if (user.isAuthenticated) { %>
    <div>
        <form action='/logout' , method='get'>
            <input type='submit' value='Logout <%= user.name %>' />
        </form>
    </div>
    <% } else { %>
    <div style="margin-top: 20px"><a href='/login' title='Log in'>Log In</a></div>
    <% } %>
</body>

</html>