<html>

<head>
    <title> Auth & Map </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        #map {
            /* configure the size of the map */
            width: 100%;
            height: 80%;
        }
    </style>
</head>

<body>
    <a href='/' title='Home'>Home</a><br />
    <div id="map"></div>
    <script>
        // initialize Leaflet
        var map = L.map('map', {
            center: [0, 0],
            zoom: 1
        })

        // add the OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // show the scale bar on the lower left corner
        L.control.scale({ imperial: true, metric: true }).addTo(map);

        var users = JSON.parse('<%- recentUsers %>')

        users.forEach(u => {
            L.marker({ lon: u.longitude, lat: u.latitude }).bindPopup(u.user).addTo(map)
        })
    </script>
</body>

</html>